@model KinderChatServer.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Inner 6!</title>
</head>
<body>
    <div>
        <p>Welcome to Inner 6!<p>
        <p>To register your new device, simply return to Inner 6 Chat and enter the following code</p>
        <p>@Model.ConfirmKey</p>
    </div>
</body>
</html>

